<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#306096" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic"
      rel="stylesheet"
    />
    <title><%- title %> Example Project</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="portals"></div>
    <noscript><h2>Your browser doesn't support JavaScript.</h2></noscript>
    <%- injectScript %>
  </body>
</html>
