{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "path",
    "prettier",
    "sort-keys-fix",
    "import",
    "simple-import-sort",
    "unused-imports"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "legacyDecorators": true,
      "jsx": true
    },
    "useJSXTextNode": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": [
          "node_modules",
          "src/",
          "./"
        ]
      }
    }
  },
  "ignorePatterns": [
    "node_modules/*",
    "package.json",
    "package-lock.json",
    "yarn.lock",
    "yarn-error.log"
  ],
  "rules": {
    "path/no-relative-imports": [
      "error",
      { "maxDepth": 2, "suggested": false }
    ],
    "guard-for-in": "off",
    "import/order": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "error",
    "import/no-useless-path-segments": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "linebreak-style": "off",
    "lines-between-class-members": "error",
    "newline-before-return": "error",
    "no-bitwise": "off",
    "no-console": "error",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-sequences": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		],
    "no-useless-constructor": "off",
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "one-var-declaration-per-line": "error",
    "one-var": "off",
    "curly": "error",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "object-curly-spacing": "off",
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "prefer-const": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "prettier/prettier": "error",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "warn",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "warn",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "require-await": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000", "^react$", "^react", "^@?\\w", "^__mocks__(/.*|$)" ],
          [ "^(containers|core|data|domain|presentation|types)(/.*|$)" ],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ],
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}